RewriteEngine On
RewriteCond %{HTTP_HOST} ^mt-develop.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.mt-develop.com$ [OR]
RewriteCond %{HTTP_HOST} ^http://mt-develop.com$ [OR]
RewriteCond %{HTTP_HOST} ^http://www.mt-develop.com$ [OR]
RewriteRule ^(.*)$ https://mt-develop.com/$1 [R=301,L]